.footer {
  max-width: 800px;
  width: 100%;
  background-color: rgb(29, 29, 123);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 200px;
  border-radius: 7px;
}

.text-1 {
  font-weight: 600;
  font-size: 20px;
}
